<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="Produto.ECM" />
  <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
  <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
  <!--WEB API-->
  <add key="WEB_API_URL" value="http://localhost:63042/" />

  <!--TAMANHO DA PÁGINA-->
  <add key="TAMANHO_PAGINA" value="5" />

</appSettings>